<div class="row">
    <h1>Charlas y Seminarios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <h2>Feria IT Joven Argentina</h2>
        <ul>
            <li>
                <h3>Metaverso, el camino hacia el futuro</h3>  <h4>(Celedonio von Wuthenau – Angelica Ceratti)</h4>
            </li>
            
        </ul>
        <ul>
            <li>
                <h3>El futuro del trabajo: La Inteligencia Artificial y los nuevos paradigmas</h3>  <h4>(Mariano Yacovino)</h4>
            </li>
            
        </ul>
        <ul>
            <li>
                <h3>Ciberseguridad de cero a héroe</h3>  <h4>(Andres Luszczyk)</h4>
            </li>
            
        </ul>
        <ul>
            <li>
                <h3>El desafio de vivir en la era digital </h3>  <h4>(Santiago Bilinkis)</h4>
            </li>
            
        </ul>
        <ul>
            <li>
                <h3>Analizando datos para el éxito: ¿una ciencia o un arte? </h3>  <h4>(Pablo Sierra)</h4>
            </li>
            
        </ul>
        <ul>
            <li>
                <h3>Prevencion de frauds y cyberseguridad </h3>  <h4>(Daina Gomez Banegas – Guillermo Julian Chambo)</h4>
            </li>
            
        </ul>
        <ul>
            <li>
                <h3>E-commerce 2023: Descubri lo nuevo de la revolución digital</h3>  <h4>(Fer Carolei)</h4>
            </li>
            
        </ul>
        <ul>
            <li>
                <h3>Inmersos en el metaverso</h3>  <h4>(Diego Aguiire)</h4>
            </li>
            
        </ul>
    </div>
</div>
