
.row{
    background-color: #59DED8;
    padding: 20px;
    margin: 0%;
}

img{
    width: 200px;
}

div{
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
}

h1{

}