<div class="row">
    <div col="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Vanotti Franco Matias FOTO.jpg" class="img-fluid" id="img">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Vanotti Franco Matias</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, et repellendus. Maiores quaerat numquam harum nisi corrupti, asperiores et labore necessitatibus nemo, modi accusantium vitae sint temporibus porro? Est, ab.</p>
        </span>
    </div>
</div>